<div class="rules">
  <div class="card">
    <h1 class="card__title">Rock Paper Scissors</h1>

    <h3 class="card__sub-title">Rules</h3>

    <p class="card__body">Each player picks an action to represent either rock, paper or scissors.</p>
    <p class="card__body">The outcome of the game is determined by 3 simple rules:</p>

    <ul class="card__list">
      <li>Rock wins against scissors</li>
      <li>Scissors wins against paper</li>
      <li>Paper wins against rock</li>
    </ul>

    <button class="card__button" [routerLink]="['/game']">Start Game</button>
  </div>
</div>
