.rules {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: #F2F2F2;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    background: white;

    width: 80%;
    max-width: 60rem;

    height: 60%;
    min-height: 50rem;
    max-height: 80rem;

    padding: 2rem;
    border-radius: 0.4rem;

    & > * {
      padding-bottom: 2rem;
    }

    &__title {
      font-size: 2.4rem;
    }

    &__sub-title {
      font-size: 2rem;
    }

    &__list {
      flex-grow: 1;
    }

    &__button {
      padding: 2rem 4rem;
      margin-bottom: 2rem;

      cursor: pointer;
    }
  }
}
