.action-bar {
  color: white;
  padding: 2rem;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 2rem 0;

    .action {
      display: flex;
      align-items: center;

      width: 8rem;
      height: 8rem;

      opacity: 0.4;
      pointer-events: none;

      &__icon {
        transform: rotate(90deg) scaleX(-1) translateY(-1.6rem);
      }

      &__text {
        display: none;
      }
    }

    .enabled {
      opacity: 1;
      pointer-events: all;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .action-bar__actions .action {
    width: 20rem;

    &__text {
      display: inline;
      padding-left: 4rem;

      font-size: 2rem;
      color: white;
    }
  }
}
