.scoreboard {
  color: white;
  background: dodgerblue;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &__name {
    width: 12rem;
    padding: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .scoreboard {
    margin: 4rem;
    border-radius: 4rem;
  }

}
